@import './base/_extend';
@import './base/_variables';


body{
    background-color: map-get($colores,"background-color");
}

header{
    background-color: map-get($colores,"background-header");
  }

.btn-custom-submit{
    @extend %button;
    color: white;
}
.btn-custom-submit:hover {
    color: white;
    opacity: 0.75;
}

.imagen {
    width: 100%;
    height: 300px;
  }
  
  .mapa {
    width: 100%;
    height: 700px;
  }
  
  h2 {
    text-align: center;
  }
  
  .card {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
  }
  
  .redes-sociales {
    display: flex;
    justify-content: center;
  
    a {
      gap: 50px;
      padding: 0;
      display: inline-block;
      margin: 0 10px;
      width: 40px;
      height: 40px;
      background-color: $default-color;
      border-radius: 50%;
  
      &.icono-facebook {
        background-color: $facebook-color;
      }
  
      &.icono-twitter {
        background-color: $twitter-color;
      }
  
      &.icono-instagram {
        background-color: $instagram-color;
      }
    }
  }
  
  .caru {
    width: 100%;
    height: 650px;
  }
  
  .imagenn {
    width: 100%;
    height: 300px;
  }
  
  .card-title {
    text-align: center;
  }
  
  .card-text {
    text-align: center;
  }
  
  header {
    background-color: $background-color;
  }
  
  .card-renauld {
    display: flex;
    max-width: 1400px;
    height: auto;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $card-background-color;
    text-align: center;
    .image-container {
      width: 78%;
  
      img {
        width: 100%;
        height: auto;
        text-align: center;
      }
    }
  
    .content {
      text-align: center;
      flex: 1;
      padding: 20px;
      text-align: center;
  
      h2 {
        margin-top: 0;
      }
  
      p {
        margin-bottom: 0;
      }
    }
  }
  
  body {
    background-color: #f5f1ec;
  }
  
  .container-text {
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: $container-background-color;
  }
  
  .text-container {
    color: $text-color;
  }

  .button-base {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.button-primary {
  @extend %button-base;
  background-color: #3f51b5;
  color: white;
}

.button-secondary {
  @extend %button-base;
  background-color: #f44336;
  color: white;
}

.button-outline {
  @extend %button-base;
  background-color: transparent;
  color: #3f51b5;
  border: 1px solid #3f51b5;
}

.button-link {
  @extend %button-base;
  background-color: transparent;
  color: #3f51b5;
  text-decoration: underline;
}


.card-renauld {
  @include card-renauld;
}

.card {
  @include card;
}

.container-text {
  @include container-text;
}

.redes-sociales a {
  @include redes-sociales-link;
}

.btn-custom-submit {
  @extend %btn-custom-submit;
}

.card-renauld .content {
  @include card-content;
}


.inda {
  @include inda;
}

.contactoo {
  @include contactoo;
}

.te {
  @include te;
}

.map {
  @include map;
}

.card-body{
@include card-body;
}

.card-title {
  @include card-title;
}

h4 {
  @include center-align;
}

.imagenes {
  @include imagenes;
}

.d-img {
  @include d-img;
}

h1 {
  @include h1-color;
}

main {
  @include main-padding;
}

.card-container-1 {
  @include card-container-1;
}

.card {
  @include card;
}

.card-image-1 {
  @include card-image-1;
}

.card-content {
  @include card-content;
}

.card-title {
  @include card-title-small;
}

.card-description {
  @include card-description;
}

.card_2 {
  @include card_2;
}

.card-body {
  @include card-body;
}

.card-img-top {
  @include card-img-top;
}

h2 {
  @include h2-title;
}

h4 {
  @include h4-title;
}

p {
  @include paragraph;
}


.social-media-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-media-item {
  margin: 0 10px;
  display: inline-block;
}

.social-media-link {
  margin-top: 30px;
  display: block;
  width: 240px;
  height: 240px;
  margin-left: 50px;
  background-color: #fd6060;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: background-color 0.3s, transform 0.3s;
  -moz-transition: background-color 0.3s, transform 0.3s;
  -ms-transition: background-color 0.3s, transform 0.3s;
  -o-transition: background-color 0.3s, transform 0.3s;
}

.social-media-link:hover {
  background-color: #ffbbbb;
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -o-transform: scale(1.0);
}

.social-media-link i {
  color: #fff;
}


.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.instagram {
  background-color: #c13584;
}

@media (max-width: 768px) {
  .social-media-list {
    flex-wrap: wrap;
  }

  .social-media-item {
    justify-content: center;
    margin: 30px;
  }
}

footer{
 background-color: #d8dadd;
}

.d-img{
  object-fit: cover;
}

.caru{
  height: 700px;
}